<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="EndpointService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1907/" binding="wsDualHttpBinding"
                bindingConfiguration="EndpointService" contract="ServiceReference1.IClientCallback"
                name="EndpointService">
                <identity>
                    <userPrincipalName value="DESKTOP-O339P25\Tasya Ripha" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>